body {
  background-color: #FFFFFF;
  margin:0 80px;
}
#contenedor {
  background-color: #CCCCCC;
  border-color: #805000;
  border-style: solid;
  border-width: 2px;
}
#login {
  height: 0px;
  background-color: #CCCCCC;
  text-align: right;
  font-family: Arial;
  float: right;
}

#logo {
  width: 30%;
  height: 100px;
  background-color: #CCCCCC;
  float: left;
  margin: auto;
}
#botones {
clear: both;
  height: 42px;
  background-color: #CCCCCC;
}
.logo_img {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 90%;
  height: 100%;
  align-content: center;
}
.sidebars {
  float: left;
  padding: 1%;
  height: 600px;
  width: 17%;
  background-color: #BBBBBB;
  text-align: center;
}
#contenido {
  width: 60%;
  float: left;
  padding: 1%;
  background-color: #DDDDDD;
  min-height: 600px;
  text-align: center;
}
#pie{
  clear: both;
  height: 30px;
  padding: 5px;
  background-color: #888888;
  text-align: center;
}
ul{
 list-style:none;
 padding-left:0px;
}
.navegacion{
clear:both;

}
.navegacion > li {
    float: left;
	width: 20%;
	margin-left: 0px;
    display:block;

}

.navegacion li a {
  background-color:#AAAAAA;
  color:#805000;
  font-weight: bold;
  text-decoration:none;
  padding:10px 12px;
  display:block;
}

.navegacion li a:hover {
  background-color:#805000;
  color:#AAAAAA;
}

.navegacion li ul {
  display:none;
  position:absolute;
  min-width:140px;
}

.navegacion li:hover > ul {
  display:block;
}

.navegacion li ul li {
  position:relative;
}

.navegacion li ul li ul {
  right:-140px;
  top:0px;
}